{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if plan %}Редактирование тарифа{% else %}Добавление тарифа{% endif %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">
                    <i class="fas fa-list-alt"></i>
                    {% if plan %}Редактирование тарифа{% else %}Добавление нового тарифа{% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.price|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.period_value|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.period_type|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.visit_limit|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.access_time|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.display_order|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    {{ form.can_freeze|as_crispy_field }}
                                    {{ form.max_freeze_days|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    {{ form.is_active|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% if plan %}{% url 'membership_plan_detail' plan.pk %}{% else %}{% url 'membership_plan_list' %}{% endif %}" 
                           class="btn btn-secondary me-md-2">
                            <i class="fas fa-times"></i> Отмена
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}